body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
.main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.section {
    width: 50%;
    min-height: 200px;
  }
.main {
    background-color: #FFFFFF;
}
.header {
    background-color: #33658A;    
}
.footer {
    background-color: #33658A;    
}
.menu-link {
    color: #FFFFFF;
    text-decoration: none; 
}
h2 {
    color: #33658A;
    text-transform: uppercase;    
}